<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771032411901-meito5qvboetp8c59p9c7gaihe7efjsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771032411901-meito5qvboetp8c59p9c7gaihe7efjsq</string>
	<key>API_KEY</key>
	<string>AIzaSyDlpspJCJ8laNcMUvk1aR8Mu90UC664v70</string>
	<key>GCM_SENDER_ID</key>
	<string>771032411901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maram.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>maramchat-c1a67</string>
	<key>STORAGE_BUCKET</key>
	<string>maramchat-c1a67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771032411901:ios:3be9cf196cced364839894</string>
</dict>
</plist>