<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624398170453-fud2uq6a2vqsbcr4u4guar43lv4o4suh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624398170453-fud2uq6a2vqsbcr4u4guar43lv4o4suh</string>
	<key>API_KEY</key>
	<string>AIzaSyAcCwndMzFfStBuRTZrZCcTGWUB7Tg27_w</string>
	<key>GCM_SENDER_ID</key>
	<string>624398170453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aishaali.Chat-Firebase</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f25de</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f25de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624398170453:ios:fd04e598b4386ce1ad17dc</string>
</dict>
</plist>