<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771601029794-kpcqrsflh0fiae2b0q561d8e9ae4v776.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771601029794-kpcqrsflh0fiae2b0q561d8e9ae4v776</string>
	<key>API_KEY</key>
	<string>AIzaSyCY7gIj3J_2HzjdwHY7Uf1ABRO-_2YRQik</string>
	<key>GCM_SENDER_ID</key>
	<string>771601029794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amal.mssnger1</string>
	<key>PROJECT_ID</key>
	<string>chatr-8b39b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatr-8b39b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771601029794:ios:6b21d164b0b42f2b1f95fb</string>
</dict>
</plist>