<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766890169013-kpc1g2embnt8lr651sd4upj806807occ.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766890169013-kpc1g2embnt8lr651sd4upj806807occ</string>
	<key>API_KEY</key>
	<string>AIzaSyBBAkPb6y8aTLm711gzF-mcEW760nvEHzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>766890169013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hajar.com.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-46fbb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-46fbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766890169013:ios:e071c4b9f40e48f57924fc</string>
</dict>
</plist>