<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960369639380-b236qits0k8l6hat42ln5o7qf2r9u0hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960369639380-b236qits0k8l6hat42ln5o7qf2r9u0hs</string>
	<key>API_KEY</key>
	<string>AIzaSyDceoATvwgEOQ9LjOHyb0JM_PGs4uD6sY4</string>
	<key>GCM_SENDER_ID</key>
	<string>960369639380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.njoud.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f5131</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f5131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960369639380:ios:1478a9e8e49c9a6e39e041</string>
</dict>
</plist>